<!DOCTYPE html>
<html lang="en">
<head>
    <!--title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
	 <style>
		body {	
			background-color: lightblue;
		}
    
	    
	.content {
		max-width: 500px;
		margin: auto;
	}
	</style>
	
</head>
<body>
	<div class="content">
		<h1 class="text text-center"> Welcome to my game! </h1>
			<span>Name: </span>
			<input type='text' ng-model="game.name"/>
			
			<div>
				<span>
					Game Type: <input type="radio" value="Single" ng-model="game.type"><span ng-click="game.type = 'Single' ">Single Player</span></input> <input type="radio" value="Multi" ng-model="game.type"><span ng-click="game.type = 'Multi'">Multiplayer</span></input>
				</span>
			</div>
			
			<div ng-show="message">
				<strong>{{message}}</strong>
			</div>
			<button ng-click="goToGame()">Let's Go!</button>
		</div>
</body>
</html>