 <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .row.content {height: 450px}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
	
	.imageWrapper{
		position: relative;
	}
	.overlayImage{
		position: absolute;
		top: 50px;
		left: 50px;
		right: 50px;
		bottom: 50px;
	}
	
	.diamond,
	.heart{
		color:red
	}
	
	.club, 
	.spade{
		color:black
	}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>


<div class="navbar">
	<button ng-click="goHome()">New Game</button>
</div>

<div class="navbar" ng-show="!isGameOver && gameType == 'Multi' ">
	<div class="container-fluid text-center">
			{{currentPlayer.name}}{{currentPlayer.name == 'You' ? "r" : "'s"}} Turn
	</div>
</div>

<nav class="navbar">
	<div class="container-fluid text-center">
		<h1 ng-show="isGameOver && message">{{message}}</h1>
		<strong ng-show="!isGameOver">{{message}}</strong>
	</div>
</nav>

<div class="container-fluid text-center">
	<div class="row content">
		<div class="col-xs-2 sidenav">
			<div ng-show="gameType == 'Multi' ">
				<div class="well">
					{{p2.name}}'s Matches ({{p2.matches.length}})
				</div>
				
				<div ng-repeat="match in p2.matches">
					{{match[0].display}}
					<span ng-bind-html="match[0].icon | unsafe"></span> /
					{{match[1].display}} 
					<span ng-bind-html="match[1].icon | unsafe"></span> 
				</div>
			</div>
		</div>
		
		<div class="col-sm-8">
		<table>
			<tr ng-repeat="(key, value) in board">
				<td ng-repeat="row in board[key]">
					<img src="playing-card-back.jpg" ng-click="currentPlayer == p1 ? toggleCard(row): '' " ng-hide="row.show"/>

					<div class="imageWrapper">
						<img ng-show="row.show"  src="playing-card-front.png" />
						<span ng-show="row.show" class="overlayImage">
							<h2><strong>{{row.matched ? '' : row.display}}</strong></h2>
						</span>
					</div>					
				</td>
			</tr>
		</table>
		</div>
		
		
		<div class="col-sm-2 sidenav">
			<div class="well">
				{{p1.name}}{{p1.name == 'You' ? "r" : "'s"}} Matches ({{p1.matches.length}})
			</div>
			
			<div ng-repeat="match in p1.matches">
				{{match[0].display}}
				<span ng-bind-html="match[0].icon | unsafe"></span> /
				{{match[1].display}} 
				<span ng-bind-html="match[1].icon | unsafe"></span> 
			</div>
		</div>
	</div>

</div>
</body>
</html>